@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './colors.scss';


h1, p {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.content-container {
    background: #87b1be;
    min-height: 100vh;
}
.button-blue.ant-btn {    
    height: 8vmin;
    border: 1px solid $rezearch-blue-2;
    color: $rezearch-blue-2;
    background-color: transparent;
    &:hover {
        color: white;
        background-color: $rezearch-blue-2;
    }
}