@import '../../assets/scss/colors.scss';
.register-container {
  width: 70%;
  height: 100%;
  font-size: 16px;
  .title {
    display: flex;
    align-items: center;
    h1 {
      font-size: 1.8em;
      font-weight: 700;        
      margin-right: 16px;
    }
    img {
      width: 30px;
    }
  }  
  .desc {
    font-size: 1em;
    margin: 8px 0 20px;
    color: $rezearch-gray;
  }  
  .ant-btn-round.ant-btn-lg {
    height: 3.3em;
  }
  .ant-row .ant-form-item-label > label {
    color: $rezearch-grey;
    font-size: 14px;
  }
  input {
    height: 3.5em;
    border-radius: 24px;
    padding: 0 24px;
    border: 1px solid $rezearch-blue-3;
  }
  .ant-form-item {
    margin-bottom: 12px;
  }
  .ant-input-password {
    border-radius: 24px;
    padding: 0 28px;
    border: 1px solid $rezearch-blue-3;
    input {
      height: 3.3em;
      border-color: transparent;
      &:focus {
          box-shadow: none !important;
      }
    }  
  }
  .ant-form-item-explain.ant-form-item-explain-error,
  .ant-form-item-explain.ant-form-item-explain-success {
    margin-left: 16px;
  }
  .regis-link {
    text-align: center;
  }
  button {        
    background: $rezearch-blue-2;
    border-color: $rezearch-blue-2;
    &:hover {
      background: $rezearch-blue;                                
    }
  }
  .ant-checkbox-wrapper {
    color: $rezearch-grey;
  }
}