@import '../../assets//scss/colors.scss';
.profile-container {    
    background-color: #F6FCFE;
    padding: 15vmin 0 6vmin;
    width: 100%;    
    font-size: 16px;
    .info {
        margin: 0 auto;
        // width: 75vw;
        // max-width: 1200px;
        border-radius: 16px;
        display: flex;
        justify-content: center;        
        .left {
            background-color: white;
            padding: 3vmin 1.5vw;
            border-radius: 15px;
            margin-right: 3vw;
            img {
                display: block;
                width: 100%;
                border-radius: 15px;
            }
            .ant-btn {
                margin-top: 3vmin;
                color: $rezearch-grey;
                font-size: .9em;
                font-family: 'Lato';
                background: $rezearch-grey-2;
                border-color: $rezearch-grey-2;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .detail {
                background-color: white;
                padding: 4vmin 2vw;
                margin-bottom: 2vmin;
                border-radius: 15px;
                h2 {
                    font-size: 1.5em;
                    // font-size: 2.8vmin;
                }
                h3 {
                    font-weight: normal;
                    font-size: 1em;
                }
                .fields {
                    display: flex;
                    color: #0096C7;
                    p {
                        margin-right: 2vw;
                        font-size: 1em;
                    }
                }
            }
            .numbers {
                background-color: #FFFFFF;
                padding: 4vmin 2vw;               
                display: flex;
                text-align: center;
                justify-content: space-between;
                border-radius: 15px;
                &-info {
                    border-radius: 15px;
                    background-color: $rezearch-grey-2;
                    padding: 3vmin;
                    p{
                        &:first-child {
                            font-size: 1.1em;
                            font-weight: bold;
                        }
                        &:last-child {
                            font-size: .9em;
                            color: $rezearch-grey;
                        }
                    }
                }
            }
        }
    }
    .card-post {
        width: 50%;
        margin: 10vmin auto;
    }
}