@import '../../assets//scss/colors.scss';
.profile-container {    
  background-color: #F6FCFE;
  font-size: 16px;
  padding: 120px 0 32px;  
  width: 100%;       
  .info {
    margin: 0 auto;
    width: 65%;
    // max-width: 1200px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    .left {
      flex-basis: 35%;
      background-color: white;
      padding: 20px;
      border-radius: 15px;
      margin-right: 32px;
      .ant-avatar {
        width: 100%;
        height: 250px;
        border-radius: 15px;
      }
      .ant-skeleton.ant-skeleton-element.ant-skeleton-active {
        width: 100%;        
        height: 250px;
      }
      .ant-skeleton-element .ant-skeleton-avatar {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
      img {
        display: block;
        width: 100%;
      }
      .ant-btn {
        margin-top: 20px;
        color: $rezearch-grey;
        font-size: .9em;
        font-family: 'Lato';
        background: $rezearch-grey-2;
        border-color: $rezearch-grey-2;
        border-radius: 15px;
        text-shadow: none;
        box-shadow: none;
        &:hover {
          background: $rezearch-blue-2;
          color: #FFFFFF;
        }
      }
    }
    .right {
      flex-basis: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .detail {
        background-color: white;
        padding: 20px 28px;        
        border-radius: 15px;
        h2 {
          font-size: 1.5em;                    
        }
        h3 {
          font-weight: normal;
          font-size: 1em;
        }
        .fields {
          display: flex;
          flex-wrap: wrap;
          p {
            color: #0096C7;
            margin-right: 16px;
            font-size: 1em;
            text-transform: capitalize;
          }
        }
      }
      .numbers {
        background-color: #FFFFFF;
        padding: 20px 28px;               
        display: flex;
        text-align: center;
        justify-content: space-between;
        border-radius: 15px;
        &-info {
          border-radius: 15px;
          background-color: $rezearch-grey-2;
          padding: 20px;
          p {
            &:first-child {
              font-size: 1.1em;
              font-weight: bold;
            }
            &:last-child {
              font-size: .9em;
              color: $rezearch-grey;
            }
          }
        }
      }
    }
  }
  .card-post {
    width: 50%;
    margin: 100px auto;
    max-width: 700px;
  }
  @media (max-width: 860px) {
    padding: 50px 0 32px;
    .info {
      width: 90%;
    }
    .card-post {
      width: 80%;
    }
  } 
}