@import '../../assets/scss/colors.scss';

.card {
    width: 93%;
    margin: 0 auto 4vmin;
    background: white;
    padding: 5vmin 3vw;
    border-radius: 16px;
    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 3vmin;
        .desc {   
            margin-left: 1.5vw;     
            .nama {
                font-size: 2.6vmin;
                color: black;                
            }
            .institusi {
                font-size: 2.4vmin;
                color: $rezearch-gray;                
            }
        }
    }
    &-text {
        margin: 2vmin 0;
        p {
            font-size: 2.6vmin;
            font-weight: bold;
        }
    }
    &-info {
        display: flex;
        font-size: 2vmin;
        color: $rezearch-gray;
        margin-bottom: 4vmin;
        div:last-child {
            margin-left: 2vw;
        }
        img {
            width: 4vmin;
            margin-right: .5vw;
        }        
    }
    &-button {
        display: flex;
        button {
            display: flex;
            align-items: center;
            color: white;
            padding: 0 2vw;                   
            background: $rezearch-blue-2;
            border: none; 
            &.ant-btn {    
                height: 7vmin;
                border-radius: 16px;
            }
            span:last-child {
                font-size: 2.2vmin;
                margin-left: 1vw;
            } 
            &:last-child {       
                background: white;
                border: 1px solid $rezearch-blue-2;
                color: $rezearch-blue-2;
                margin-left: 2vw;       
                &:hover {
                    background: $rezearch-blue-2;
                    color: white;
                }         
            }                      
        }
    }
}