@import '../../assets/scss/colors.scss';

.myprofile-container {
    background: white;
    padding: 3vmin 2vw;
    margin-left: auto;
    border-radius: 16px;
    font-size: 16px;
    .title {
        font-size: 1.5vw;
        font-weight: bold;
        margin-bottom: 3vmin;
    }
    .person {
        display: flex;
        align-items: center;
        margin-bottom: 3vmin;
        .desc {   
            margin-left: 1vw;     
            .nama {
                font-size: 0.95em;
                color: black;                
            }
            .institusi {
                font-size: 0.75em;
                color: $rezearch-gray;                
            }
        }
    }
    .statistik {        
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vmin;
        p {
            text-align: center;
        }
        .total {
            font-size: 1.3em;
        }
        .nama {
            color: $rezearch-grey;
            font-size: 0.8em;
        }
    }
    a {
        text-align: center;
        display: block;
        text-decoration: underline;
    }
}