@import '../../assets/scss/colors.scss';

.navbar-container {  
    box-sizing: border-box;  
    padding: 2vmin 4vw;
    // margin-bottom: 4vmin;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    .ant-row {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
    }
    .title {
        h1 {
            color: $rezearch-blue;
            font-size: 4vmin;
            font-weight: bold;
        }
        img {
            width: 20vmin;
        }
    }    
    .search {
      display: flex;
      .ant-row {
        width: 100%;
      }
      .ant-form {
        width: 100%;
        height: 100%;
        .ant-row, .ant-col, .ant-form-item-control-input, .ant-form-item-control-input-content {
          height: 100%;
        }
        &-item {
          margin-bottom: 0;
        }
      }
      .ant-input-affix-wrapper {
          padding: 0 1.5vw;
          height: 100%;
          border-radius: 16px;
          background: #F6FCFE;
          border: 1px solid #F6FCFE;
          input {
              padding: 0 1vw;
              background: #F6FCFE;
              color: $rezearch-gray;
          }
      }
      button {
        margin-left: 2vw;
        width: 8vmin;
        height: 100%;  
        padding: 0 1vw;
        border-radius: 16px;          
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6FCFE;
        border: none;
        text-shadow: none;
        box-shadow: none;
        @media (max-width: 768px) {
          width: 90%;
        }
        .anticon {
            color: $rezearch-blue;
        }
      }
    }
    .add-research {
      width: 100%; 
      padding-left: 2vw;
      display: flex;
      align-items: center;
      button {
        margin-right: 20px;      
        color: white;            
        width: 100%; 
        height: 100%;            
        background: $rezearch-blue-2;
        border: none;
        
        @media (max-width: 768px) {
          width: unset;
          span:last-child {
            display: none;
          }
        }
      }
      img {
        width: 100%;
        cursor: pointer;
      }
    }
  &-mobile {
    display: none;
    position: relative;
    z-index: 2;
    background: transparent;
    padding: 16px 32px;
    img.title {
      width: 10%;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .ant-form {
      margin-top: 16px;
      width: 100%;
      height: 100%;
      .ant-row, .ant-col, .ant-form-item-control-input, .ant-form-item-control-input-content {
        height: 100%;
      }
      &-item {
        margin-bottom: 0;
      }
    }
    .ant-input-affix-wrapper {
        padding: 12px 16px;
        height: 100%;
        border-radius: 16px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        input {
          padding: 0 16px;
          background: #FFFFFF;
          color: $rezearch-gray;
        }
    }
    .showing.sidebar {
      transform: translateX(0); 
    }
    .sidebar {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      background: white;
      height: 100vh;
      padding: 35px;
      transform: translateX(-100vw); 
      transition: all 1s;
      .menu {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        .ant-divider {
          margin: 20px 0;
        }
        &-item {
          display: flex;
          align-items: center;
          img {
            width: 20px;
          }
          .anticon {
            font-size: 18px;
          }
          p {
            font-size: 14px;
            margin-left: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .navbar-container {
    display: none;
    &-mobile {
      display: block;
    }
  }
}