@import '../../assets//scss/colors.scss';
.detailres-container {
    font-size: 16px;
    padding: 120px 0 28px;
    width: 100%;
    min-height: 100vh;
    .research-header {
      margin: 0 auto;
      width: 75%;
      background-color: white;
      padding: 28px 40px;
      border-radius: 16px;
      .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h1 {
            font-size: 1.5em;
            font-weight: bold;
          }
          img {
            width: 42px;
            cursor: pointer;
          }
      }
      .statistic {
        display: flex;
        font-size: 0.9em;
        color: $rezearch-gray;
        margin: 16px 0;            
        div:last-child {
          margin-left: 16px;
        }
        img {
          width: 24px;
          margin-right: 8px;
        }
      }
      h2 {
        font-size: 1.1em;
      }
      .authors {
        margin-top: 20px;
        display: flex;
        .author {
          display: flex;
          align-items: center;
          margin: 0 20px 24px 0;                
          .desc {   
            margin-left: 16px;     
            .nama {
              font-size: 0.9em;
              color: black;                
            }
            .institusi {
              font-size: 0.8em;
              color: $rezearch-gray;                
            }
          }                
        }
      }
    }
    .research-tab {
        margin: 36px auto 0;
        width: 75%;
        background-color: white;
        padding: 28px 40px;
        border-radius: 16px;
        .ant-tabs-tab {
          padding-left: 4px;
          padding-right: 4px;
          &-btn {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 1.2em;
          }
        }
        .research-pdf {
          width: 75%;
          font-family: 'Lato', sans-serif;
          margin: 32px 0 56px;
          h2 {
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: 28px;
          }
          img {
            width: 60%;
          }
          .title {
            font-size: 1em;
            div:not(:last-child) {
              font-weight: bold;                    
            }
          }
          p {
            font-size: 1em;
            color: $rezearch-gray;                
          }
        }
        .research-detail {
          margin-top: 28px;
          .ant-row {
            margin-bottom: 24px;
          }
          .ant-col {
            font-family: 'Lato', sans-serif;                
            &:first-child {
              font-weight: bold;
              font-size: 1.1em;
            }
            &:last-child {
              color: $rezearch-gray;
              font-size: 0.9em;
              line-height: 1.8;
              letter-spacing: 0.02em;
            }
          }
        }
        .research-fulltext {
          width: 90%;
          margin: 0 auto;
          border: none;            
          .rpv-core-inner-page {
            background: #F2F2F2;
            padding: 40px 24px;
          }
        }
    }
}