.component-404{
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
  h1 {
    font-size: 2em;
  }
  .ant-divider-vertical {
    height: 3.2em;
    border-width: 2px;
  }
  h2 {
    font-size: 1.8em;
    margin-bottom: 0;
  }
}